@import url('https://fonts.googleapis.com/css2?family=Oleo+Script&display=swap');

* {
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    height: 100vh;
    overflow: hidden;
    font-family: 'Oleo Script', cursive;
}

.bg {
    position: absolute;
    top: -30px;
    left: -30px;
    z-index: -1;
    width: calc(100vw + 60px);
    height: calc(100vh + 60px);
    background: url('https://images.unsplash.com/photo-1534422298391-e4f8c172dddb?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=750&q=80') no-repeat center center/cover;
    filter: blur(0px);
}

.loading-text {
    font-size: 50px;
    color: #ffffff
}

