@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
   --primary-color: #314e52;
   --secondary-color: #f2a154;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: var(--primary-color);
    font-family: 'Roboto', sans-serif;
}

header {
    padding: 1rem;
    display: flex;
    justify-content: flex-end;
    background-color: var(--secondary-color);
}

.search {
    padding: 0.5rem 1rem;
    border: 2px solid var(--primary-color);
    border-radius: 50px;
    background-color: transparent;
    color: #fff;
    font-family: inherit;
    font-size: 1rem;
}

.search::placeholder {
    color: #f7f6e7;
}

.search:focus {
    outline: none;
    background-color: var(--primary-color);
}

main {
    display: flex;
    flex-wrap: wrap;
}

.movie {
    position: relative;
    overflow: hidden;
    margin: 1rem;
    width: 300px;
    background-color: var(--secondary-color);
    box-shadow: 0 4px 5px rgba(0, 0, 0, 0.2);
    border-radius: 3px;
}

.movie img {
    width: 100%;
}

.movie-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 1rem 1rem;
    color: #eee;
    letter-spacing: 0.5px;
}

.movie-info h3 {
    margin-top: 0;
}

.movie-info span {
    padding: 0.25rem 0.5rem;
    border-radius: 3px;
    background-color: var(--primary-color);
    font-weight: bold;
}

.movie-info span.green {
    color: lightgreen
}

.movie-info span.orange {
    color: orange
}

.movie-info span.red {
    color: #ec4646
}

.overview {
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    padding: 1rem;
    max-height: 100%;
    background-color: #fff;
    transform: translateY(101%);
    transition: transform 0.3s ease-in;
}

.movie:hover .overview{
    transform: translateY(0);
}